# EAS 빌드 시 제외할 파일 (.gitignore보다 우선 적용)
# .env는 빌드에 포함되어야 하므로 여기서 제외하지 않음

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# build outputs
build-*.aab
build-*.apk
